SUPABASE_URL=https://aksfeubiejkqhuqfwyei.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFrc2ZldWJpZWprcWh1cWZ3eWVpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAwOTIzNTAsImV4cCI6MjA5NTY2ODM1MH0.C1F4go9SlhQH4Mo3Na07P4rNaKFQgXRKU8cxtYm_0vg
